* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: blueviolet;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

ul li {
    padding: 20px 20px;
}

.box {
    margin-left: 10%;
}

.box div {
    display: inline-block;
    flex-direction: row;
    width: 20%;
    height: 100px;
    margin: 50px 10px;
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
    line-height: 100px;
}