* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(200, 217, 222);
    color: aliceblue;
}
.container {
    width: 100%;
    min-height: 120px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo-icon-item{
    text-decoration: none;
}
.unitop-solu,.nav-item{
    list-style: none;
}
.logo {
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}
.title-solution {
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
    padding: 24px 0;
}
.logo-icon-item {
    padding: 0 24px;
    margin-left: -24px;
}
.nav {
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    justify-content: space-around;
}
.nav-list .nav-item {
    padding: 0 24px;
    margin-left: -24px;
}



